<h1>{{model.title}}</h1>

<h5>By: {{model.author}}</h5>
<span class="authorDate"><p>Created: {{model.date}}</p></span>
<span class="authorDate"><p>Tag: {{model.tag}}</p></span>
{{model.details}}

<br><br>
<button id="delete" class="btn btn-danger btn-xs" {{action 'deleteQuestion' model}}>Delete</button>
{{edit-question question=model editQuestion="editQuestion"}}
<br><br><hr>



<h3>Answers</h3>

{{#each model.answers as |answer|}}
  {{answer-tile questionId=answer.question.id answer=answer}}
  <button id="delete" class="btn btn-danger btn-xs" {{action 'deleteAnswer' answer}}>Delete</button>
  <button id="reply" class="btn btn-primary btn-xs">Reply</button>
<br><hr>
{{/each}}
{{new-answer submitAnswer="submitAnswer" question=model}}<br>
