<h1>{{model.title}}</h1>

<h5>By: {{model.author}}</h5>

<button class="answered btn btn-warning btn-xs" {{action 'answered' model}}>Click to mark as answered</button>

<span class="authorDate"><p>Created: {{model.date}}</p></span>
<span class="authorDate"><p>Tag: {{#link-to model.tag}}{{model.tag}}{{/link-to}}</p></span>
{{model.details}}

<br><br>
<span class="saveButton" {{action 'saveQuestion' model}}>&bigstar; <span class="saveText">Save</span></span>
<button id="delete" class="btn btn-danger btn-xs" {{action 'deleteQuestion' model}}>Delete</button>
{{edit-question question=model editQuestion="editQuestion"}}
<br><br><hr>

<h3>Answers</h3>

{{#if model.answers}}
{{bestAnswer model.answers}}
  {{#each model.answers as |answer|}}
  <!-- helper -->


    <!-- how to loop through each one before giving best answer -->
    {{answer-tile questionId=answer.question.id answer=answer}}

    <img {{action 'upvoteAnswer' answer}} id="upvote" src="/assets/images/upvote.jpg">
    <img {{action 'downvoteAnswer' answer}} id="downvote" src="/assets/images/downvote.jpg">

    <button id="delete" class="btn btn-danger btn-xs" {{action 'deleteAnswer' answer}}>Delete</button>
    <button id="reply" class="btn btn-primary btn-xs">Reply</button>
  <br><hr>

  {{/each}}
{{else}}
  <p>This question hasn't been answered yet.</p>
{{/if}}
{{new-answer submitAnswer="submitAnswer" question=model}}<br>
